button{
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: 0;
    margin: 10px;
    display: block;
}

button:hover{
    background-color:darkorange;
    cursor: pointer;
}

.primary{
    background-color: red;
}

.secondary{
    background-color: blue;
}

.outline{
    background-color: white;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}