@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html, body {
    padding: 0px;
    margin: 0px;
    color: black;
    font-family: "Lato", sans-serif;
}

body{
    padding: 1rem;
}

.container{
    margin-left: 300px;
}